server:
  port: 8080
  forward-headers-strategy: framework

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      default-filters:
        - TokenRelay
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials
        - RemoveRequestHeader=Cookie
        - RemoveResponseHeader=Set-Cookie
      routes:
        - id: orders
          uri: http://orders-service:8081
          predicates:
            - Path=/api/orders/**,/swagger-ui/**,/v3/api-docs/**
        - id: inventory
          uri: http://inventory-service:8082
          predicates:
            - Path=/api/inventory/**,/swagger-ui/**,/v3/api-docs/**,/api/admin/**
        - id: customers
          uri: http://customers-service:8083
          predicates:
            - Path=/api/customers/**,/swagger-ui/**,/v3/api-docs/**
        - id: angular-ui
          uri: http://angular-ui:80
          predicates:
            - Path=/**,/assets/**,/favicon.ico,/**/*.js,/**/*.css,/
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins:
              - http://localhost:4200
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders:
              - Authorization
              - Content-Type
              - X-Requested-With
            exposedHeaders:
              - Authorization
            allowCredentials: true
            maxAge: 3600

  security:
    oauth2:
#      client:
#        registration:
#          keycloak:
#            client-id: gateway-service
#            client-secret: gateway-secret-123
#            authorization-grant-type: authorization_code
#            redirect-uri: "{baseUrl}/login/oauth2/code/keycloak"
#            scope:
#              - openid
#              - profile
#              - email
#        provider:
#          keycloak:
#            issuer-uri: http://localhost:8095/realms/microservices-realm
#            user-info-uri: http://localhost:8095/realms/microservices-realm/protocol/openid-connect/userinfo
#            authorization-uri: http://localhost:8095/realms/microservices-realm/protocol/openid-connect/auth
#            token-uri: http://localhost:8095/realms/microservices-realm/protocol/openid-connect/token

      resourceserver:
        jwt:
          issuer-uri: http://localhost:8095/realms/microservices-realm
          jwk-set-uri: http://keycloak:8080/realms/microservices-realm/protocol/openid-connect/certs 

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,gateway

logging:
  level:
    root: DEBUG
    org.springframework.cloud.gateway: DEBUG
    org.springframework.security: INFO